<%= form_for([:blog, @post]) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this blog post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.cktext_area :body,  :ckeditor => {:uiColor => "#AADC6E", :toolbar => "mini"} %>
    </div>
    <div class="field">
      <%= f.label :post_image %><br />
      <%= f.file_field :post_image %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
